<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Pool de conexões: mostra inicialização e falhas de conexão -->
        <Logger name="com.zaxxer.hikari" level="INFO"/>
        <Logger name="br.cefetrj.appcorp" level="DEBUG"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
